dominate>=2.4.0
torch>=1.4.0
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
wandb
git+https://github.com/j-muoneke/image-losses/#subdirectory=cnn_loss
git+https://github.com/j-muoneke/image-losses/#subdirectory=wavelet_loss
git+https://github.com/j-muoneke/image-losses/#subdirectory=focal_frequency_loss
